<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Воспоминания</title>
</head>
<body>
    <div class="card">
        <h1>Сохраним воспоминания</h1>
        <form method="POST" enctype="multipart/form-data">
            <textarea name="note" placeholder="Напишите что-то теплое..."></textarea><br>
            <input type="file" name="photo"><br><br>
            <button type="submit">Добавить воспоминание</button>
        </form>
    </div>
</body>
</html>
